<!--
  Generated template for the About page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
     
    <ion-title>About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  class="background" padding>
  <ion-list>

    <ion-item>
      <h2>Name</h2>
      <ion-note item-end><b>Micro FinApp</b></ion-note>
    </ion-item>
  </ion-list>

<ion-list>
    <ion-item>
      <h2>Version</h2>
      <ion-note item-end><b>1.0</b></ion-note>
    </ion-item>

    <ion-item>
      <h2>Framework</h2>
      <ion-note item-end><b>Ionic 2</b></ion-note>
    </ion-item>

  </ion-list>

</ion-content>
