<!--
  Generated template for the CollectionDetails page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Collection Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    
    <img src="assets/img/Mfinance.jpg"/>
    <ion-card-content>
      <ion-item>
        <ion-avatar item-right>
          <img src="assets/img/malinga.jpeg">
        </ion-avatar>
        <h1>Lasith Malinga</h1>
         <div class="seeProfile">
       <button ion-button icon-left clear >
    <ion-icon name="person"></ion-icon>
    See Profile
       </button>
  </div>  
     </ion-item>
   </ion-card-content>
  </ion-card>

  <ion-list>

  <ion-item>
    <ion-label >Total Loan Amount</ion-label>
    <ion-input type="text" value=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label >Total Paid Amount</ion-label>
    <ion-input type="text" value=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label >Paying Amount</ion-label>
    <ion-input type="number" value=""></ion-input>
  </ion-item>

  <button ion-button class="btn" (click)="displayMsg()">Add Payment</button>

  </ion-list>

  <ion-list>

  <ion-item>
    <ion-label >Remaining Payment</ion-label>
    <ion-input type="text" value=""></ion-input>
  </ion-item>

  </ion-list>

<!--
  <div class="seeProfile">
    <ion-icon name="person"></ion-icon>
  </div>
-->

<button ion-button small icon-left (click)="checkPrReceipt()">
  <ion-icon name="print"></ion-icon>
  Print Receipt
</button>

<button ion-button small icon-left (click)="checkSMS()">
  <ion-icon name="phone-portrait"></ion-icon>
  SMS
</button>

<button ion-button small icon-left (click)="checkEmail()">
  <ion-icon name="mail"></ion-icon>
  Email
</button>

</ion-content>
