<!--
  Generated template for the Elreq page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Emergency Loan Requests</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
<ion-item>
    <ion-thumbnail item-left>
      <img src="assets/img/ik.jpg">
    </ion-thumbnail>
    <h2>Joana</h2>
    <button ion-button clear item-right > <ion-icon name="eye"> </ion-icon> View</button>
  </ion-item>
  <ion-item>
    <ion-thumbnail item-left>
      <img src="assets/img/an.jpg">
    </ion-thumbnail>
    <h2>Hisham </h2>
    <button ion-button clear item-right > <ion-icon name="eye"> </ion-icon> View</button>
  </ion-item>
  <ion-item>
    <ion-thumbnail item-left>
      <img src="assets/img/ha.jpg">
    </ion-thumbnail>
    <h2>Kim </h2>
    <button ion-button clear item-right > <ion-icon name="eye"> </ion-icon> View</button>
  </ion-item>
  <ion-item>
    <ion-thumbnail item-left>
      <img src="assets/img/l.jpg">
    </ion-thumbnail>
    <h2>Emma </h2>
    <button ion-button clear item-right > <ion-icon name="eye"> </ion-icon> View</button>
  </ion-item>
  <ion-item>
    <ion-thumbnail item-left>
      <img src="assets/img/ll.jpg">
    </ion-thumbnail>
    <h2>Imfash</h2>
    <button ion-button clear item-right > <ion-icon name="eye"> </ion-icon> View</button>
  </ion-item>
  <ion-item>
    <ion-thumbnail item-left>
      <img src="assets/img/3.jpg">
    </ion-thumbnail>
    <h2>Halan </h2>
    <button ion-button clear item-right > <ion-icon name="eye"> </ion-icon> View</button>
  </ion-item>
</ion-list>

</ion-content>
