<!--
  Generated template for the Messaging page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Send SMS</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card>
    <ion-item>
      <ion-label stacked>Mobile Number</ion-label>
      <ion-input [(ngModel)]="mobileNumber" type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Message</ion-label>
      <ion-input [(ngModel)]="textMessage" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <button ion-button icon-left clear item-right (click)="sendTextMessage()">
      <ion-icon name="checkmark"></ion-icon>
      Send
      </button>
    </ion-item>
  </ion-card>
</ion-content>
