<!--
  Generated template for the CashCollection page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Cash Collection</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id ="left"> 
<button ion-button icon-left clear (click)="back()">
  <ion-icon name="arrow-dropleft-circle"></ion-icon>
</button>
</div>

<div id="header">
<h3>TODAY</h3>
</div>

<div id="right">
<button ion-button icon-left clear (click)="next()">
  <ion-icon name="arrow-dropright-circle"></ion-icon>
</button>
</div>

<!--  <h3 class ="header"> -->
<!--    <div class ="col-20">   
      <button ion-button icon-left> < Back </button>
        <div class="col-20">
          <h3>Today</h3>  
            <div class = "col-20">
              <button ion-button icon-left> > Next</button>
          </div>
       </div>
    </div>
  </h3> -->
  <ion-list>


  <ion-item (click) = "details()">
    <ion-avatar item-right>
      <img src="assets/img/malinga.jpeg">
    </ion-avatar>
    <h2>Lasith Malinga</h2>
    <p>1000</p>
  </ion-item>

   <ion-item (click) = "details()">
    <ion-avatar item-right>
      <img src="assets/img/root.jpg">
    </ion-avatar>
    <h2>Joe Root</h2>
    <p>1000</p>
  </ion-item>

  <ion-item (click) = "details()">
    <ion-avatar item-right>
      <img src="assets/img/Sanga.jpg">
    </ion-avatar>
    <h2>Kumar Sangakkara</h2>
    <p>1000</p>
  </ion-item>

  <ion-item (click) = "details()">
    <ion-avatar item-right>
      <img src="assets/img/tahir.jpeg">
    </ion-avatar>
    <h2>Imran Tahir</h2>
    <p>1000</p>
  </ion-item>

  <ion-item (click) = "details()">
    <ion-avatar item-right>
      <img src="assets/img/clarke.png">
    </ion-avatar>
    <h2>Micheal Clarke</h2>
    <p>1000</p>
  </ion-item>

  <ion-item (click) = "details()">
    <ion-avatar item-right>
      <img src="assets/img/mahela.jpeg">
    </ion-avatar>
    <h2>Mahela Jeyawardena</h2>
    <p>1000</p>
  </ion-item>
</ion-list>


<!--
 <button ion-item (click) = "details()">
    <ion-icon name="image" item-start></ion-icon>
    Bruce Wayne
    <p>2000</p>
  </button>
-->
  

</ion-content>
