page-cash-collection {
     #left
     {
        text-align: left;  
        
     }

     #header
     {
        text-align: center;
        margin:-45px
      
     }


     #right
     {
        text-align: right;
        float: right;
     }

  
  

}
