<!--
  Generated template for the Il page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Individual Loans</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
   <ion-item (click)="ilcuscall()">
    <ion-icon name="people" item-left></ion-icon>
      Customers
    
  </ion-item>
  <ion-item (click)="iloutcall()">
    <ion-icon name="cash" item-left></ion-icon>
      Outstandings
    
  </ion-item>
  <ion-item (click)="ilreqcall()">
     <ion-icon name="mail" item-left></ion-icon>
     Loan Requests
  </ion-item>
</ion-list>
</ion-content>
