<!--
  Generated template for the Feedback page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Feedback</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background" padding >
  <ion-list>

  <ion-item>
    <ion-label>Subject</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

<ion-item>
    <ion-label>Category</ion-label>
    <ion-select [(ngModel)]="category">
      <ion-option value="cashColl">Cash Collection</ion-option>
      <ion-option value="new">New Customer</ion-option>
      <ion-option value="com">Complaints</ion-option>
    </ion-select>
  </ion-item>

<ion-item>
    <ion-label>Description</ion-label>
    <ion-input type="text" ></ion-input>
</ion-item>


<ion-item >
    <ion-label>Priority</ion-label>
    <ion-select [(ngModel)]="priority">
      <ion-option value="h">High</ion-option>
      <ion-option value="m">Medium</ion-option>
      <ion-option value="s">Low</ion-option>
    </ion-select>
  </ion-item>

</ion-list>

<div text-right>
<button ion-button class="submit-btn" type="submit" >Submit</button>
</div>

</ion-content>
