page-feedback {
        .background{
        background-image:url('../assets/back1.jpg');
    
 
     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #969696;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #2A55FF;
       border-radius: 30px !important;
       border: 1px solid #969696;
       text-align:right;

     }

  }
}
