<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Customer</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list no-lines>  
    <button ion-item *ngFor="let user of users" (click)="openContactPage(user)" large>
      {{user.name}} {{user.surname}}
    </button>
  </ion-list>

</ion-content>
