<ion-header>

  <ion-navbar color="primary">
    <ion-title class="thickerHeader">{{guy.name}} {{guy.surname}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class=capitalize>
    <ion-grid>
      
      <!--Name-->
      <ion-row>
        <ion-col>
          <p class="boldLabel">Name: </p>
        </ion-col>
        <ion-col>
          <p>{{guy.name}}</p>
        </ion-col>
      </ion-row>

      <!--Surname-->
      <ion-row>
        <ion-col>
          <p class="boldLabel">Surname: </p>
        </ion-col>
        <ion-col>
          <p>{{guy.surname}}</p>
        </ion-col>
      </ion-row>

      <!--<br>-->

      <!--CustomeriD-->
      <ion-row>
        <ion-col>
          <p class="boldLabel">Customer ID: </p>
        </ion-col>
        <ion-col>
          <span><p>{{guy.customerID}}</p></span>
        </ion-col>
      </ion-row>

      <!--<br>-->

      <!--NIC-->
      <ion-row>
        <ion-col>
          <p class="boldLabel">NIC: </p>
        </ion-col>
        <ion-col>
          <p>{{guy.nic}}</p>
        </ion-col>
      </ion-row>

      <!--Address-->
      <ion-row>
        <ion-col>
          <p class="boldLabel">Address: </p>
        </ion-col>
        <ion-col>
          <p>{{guy.address}}</p>
        </ion-col>
      </ion-row>

      <!--DOB-->
      <ion-row>
        <ion-col>
          <p class="boldLabel">Date of Birth: </p>
        </ion-col>
        <ion-col>
          <span><p>{{guy.dob}}</p></span>
        </ion-col>
      </ion-row>

      <!--Phone-->
      <ion-row>
        <ion-col>
          <p class="boldLabel">Contact: </p>
        </ion-col>
        <ion-col>
          <span><p>{{guy.phone}}</p></span>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

  <div>
    <!--<ion-grid>-->
      
      <button ion-button full color="primary" small (click)="callNumber()">Call</button>
      <button ion-button full color="primary" small (click)="openMessage(guy.phone)">Message</button>

      <!--<ion-row>
        <ion-col>
          <button ion-button icon-only>
            <ion-icon name="home"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-only>
            <ion-icon name="person"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>-->
  </div>


</ion-content>
