<!--
  Generated template for the Iglout page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Overdue Customers</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <ion-list>
  <ion-item>
    <ion-avatar item-left>
      <img src="assets/img/a.jpg">
    </ion-avatar>
    <h2>Abraham</h2>
      <p> IGL30140</p>
      <button ion-button clear item-right (click) = "showdetails()"> <ion-icon name="eye"> </ion-icon> View</button>
 
  </ion-item>
   <ion-item>
    <ion-avatar item-left>
      <img src="assets/img/y.jpg">
    </ion-avatar>
    <h2>Jessica</h2>
      <p> IGL30220</p>
      <button ion-button clear item-right (click) = "showdetails()"> <ion-icon name="eye"> </ion-icon> View</button>
 
  </ion-item>
  <ion-item>
    <ion-avatar item-left>
      <img src="assets/img/ha.jpg">
    </ion-avatar>
    <h2>Yorklin</h2>
      <p> IGL30256</p>
      <button ion-button clear item-right (click) = "showdetails()"> <ion-icon name="eye"> </ion-icon> View</button>
 
  </ion-item>
  <ion-item>
    <ion-avatar item-left>
      <img src="assets/img/l.jpg">
    </ion-avatar>
    <h2>Randy</h2>
      <p> IGL30290</p>
      <button ion-button clear item-right (click) = "showdetails()"> <ion-icon name="eye"> </ion-icon> View</button>
 
  </ion-item>
</ion-list>

</ion-content>
