<!--
  Generated template for the Iglreqdetails page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Request Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
  <img src="assets/img/an.jpg"/>
  <ion-card-content>
    <ion-item>
      
      <h1> Hisham </h1>
      
    </ion-item>
    
  </ion-card-content>
</ion-card>

<ion-list>

  <ion-item>
    <ion-label font-color="black">Application Number</ion-label>
    <ion-input type="text" value="IGLAPP20198"></ion-input>
  </ion-item>

   <ion-item>
    <ion-label>Customer Name</ion-label>
    <ion-input type="text" value="Hisham Cader"></ion-input>
  </ion-item>

   <ion-item>
    <ion-label>Loan Term</ion-label>
    <ion-input type="text" value="1 Year"></ion-input>
  </ion-item>

   <ion-item>
    <ion-label>Requested Loan amount</ion-label>
    <ion-input type="text" value="LKR 60,000"></ion-input>
  </ion-item>

   <ion-item>
    <ion-label>Agreed loan term</ion-label>
    <ion-input type="text" value="1 Year, 6 months"></ion-input>
  </ion-item>

   <ion-item>
    <ion-label>Occupation</ion-label>
    <ion-input type="text" value="Vendor"></ion-input>
  </ion-item>

   <ion-item>
    <ion-label>Salary</ion-label>
    <ion-input type="text" value="LKR 15,000"></ion-input>
  </ion-item>

   <ion-item>
    <ion-label fixed>Guarantor Details</ion-label>
    <ion-input type="text" value="Received"></ion-input>
  </ion-item>

  
<button ion-button color="secondary" (click) ="showAlert()">Process Request <ion-icon name="checkmark-circle"></ion-icon></button>

</ion-list>

</ion-content>
