<ion-header color="primary">
  <ion-navbar color="primary">
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="background" padding>
  <ion-list>
     <button ion-item (click)="intro()">
        Introduction
      </button>
       <button ion-item (click)="history()">
        History
      </button>   
      <button ion-item (click)="feedback()">
        Feedback
      </button>
     <button ion-item (click)="showToast('middle')">
        Notification
      </button>
    <button ion-item (click)="openModal()">
        About
      </button> 
    </ion-list>

  
</ion-content>
