<!--
  Generated template for the Loanhome page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  color="primary" >
    <ion-title text-center font-size-large >
      Loans
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding font-size="20" >
<ion-card text-center>
  <img src="assets/img/sampath.jpg"/>
  <ion-card-content>
    <ion-item>

      <h1  >Microfinance Loan</h1>
     
    </ion-item>
    
  </ion-card-content>
</ion-card>

  <button ion-button block large color="secondary" (click)="calligl()"><ion-icon name="logo-usd"> Income Generation Loan IGL</ion-icon></button>
  <button ion-button block large color="secondary" (click)="callmtl()"><ion-icon name="logo-usd"> Midterm Loan MTL</ion-icon></button>
  <button ion-button block large color="secondary" (click)="callel()"><ion-icon name="logo-usd"> Emergency Loan EL</ion-icon></button>
  <button ion-button block large color="secondary" (click)="callil()"><ion-icon name="logo-usd"> Individual Loans IL</ion-icon></button>
  <button ion-button block large color="secondary" (click)="loansumm()"><ion-icon name="logo-usd"> Loan Summary</ion-icon></button>
</ion-content>