<!--
  Generated template for the Mtl page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Midterm Loans</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
   <ion-item (click)="mtlcuscall()">
    <ion-icon name="people" item-left></ion-icon>
      Customers
    
  </ion-item>
  <ion-item (click)="mtloutcall()">
    <ion-icon name="cash" item-left></ion-icon>
      Outstandings
    
  </ion-item>
  <ion-item (click)="mtlreqcall()">
     <ion-icon name="mail" item-left></ion-icon>
     Loan Requests
  </ion-item>
</ion-list>

</ion-content>
