<!--
  Generated template for the History page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background" padding>
  <ion-list>

    <ion-list-header>Today</ion-list-header>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/prof.jpg">
      </ion-avatar>
      <h2>Sunil</h2>
      <p>Payment collected!</p><p>1000/=</p>
      <ion-note item-end>3:43 pm</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/prof.jpg">
      </ion-avatar>
      <h2>Gamage</h2>
      <p>Payment collected!</p><p>2300/=</p>
      <ion-note item-end>1:12 pm</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/prof.jpg">
      </ion-avatar>
      <h2>Veivesh</h2>
      <p>Payment could not be collected!</p>
      <ion-note item-end>10:03 am</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/prof.jpg">
      </ion-avatar>
      <h2>Sajan</h2>
      <p>Payment collected!</p><p>100/=</p>
      <ion-note item-end>5:47 am</ion-note>
    </ion-item>

  </ion-list>

  <ion-list>

    <ion-list-header>Yesterday</ion-list-header>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/prof.jpg">
      </ion-avatar>
      <h2>Shahik</h2>
      <p>Payment collected!</p><p>1500/=</p>
      <ion-note item-end>11:11 pm</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/prof.jpg">
      </ion-avatar>
      <h2>Damien</h2>
      <p>Payment could not be collected!</p>
      <ion-note item-end>8:54 pm</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/prof.jpg">
      </ion-avatar>
      <h2>Murali</h2>
      <p>Payment could not be collected!</p>
      <ion-note item-end>7:22 am</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/prof.jpg">
      </ion-avatar>
      <h2>Kumar</h2>
      <p>Payment collected!</p><p>10000/=</p>
      <ion-note item-end>2:08 am</ion-note>
    </ion-item>

  </ion-list>

  <ion-list>

    <ion-list-header>Last Week</ion-list-header>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/prof.jpg">
      </ion-avatar>
      <h2>Joe</h2>
      <p>Payment collected!</p><p>1200/=</p>
      <ion-note item-end>Sun</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/prof.jpg">
      </ion-avatar>
      <h2>Ravi</h2>
      <p>Payment collected!</p><p>5000/=</p>
      <ion-note item-end>Fri</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/prof.jpg">
      </ion-avatar>
      <h2>Sarath</h2>
      <p>Payment collected!</p><p>7000/=</p>
      <ion-note item-end>Wed</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/prof.jpg">
      </ion-avatar>
      <h2>Chandimal</h2>
      <p>Payment collected!</p><p>1800/=</p>
      <ion-note item-end>Mon</ion-note>
    </ion-item>

  </ion-list>



</ion-content>
