page-history {
    .background{
        background-image:url('../assets/back1.jpg');
ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }

  ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #969696;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
    }
}
