page-back {
          #leftY
     {
        text-align: left;  
        
     }


      #headerY
     {
        text-align: center;
        margin: -40px;
      
     }

     #rightY
     {
        text-align: right;
        float: right;
     }

     .refBtn
     {
         float: right;
     }

}
