<!--
  Generated template for the Next page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Cash Collection</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id ="leftT"> 
<button ion-button icon-left clear (click) = "viewCC()">
  <ion-icon name="arrow-dropleft-circle"></ion-icon> 
</button>
</div>

<div id="headerT">
<h3>Tomorrow</h3>
</div>

<div id="rightT">
<button ion-button icon-left clear >
  <ion-icon name="arrow-dropright-circle"></ion-icon>
</button>
</div>


<ion-item (click) = "details()">
    <ion-avatar item-right>
      <img src="assets/img/Profile.png">
    </ion-avatar>
    <h2>Angelo Mathews</h2>
    <p>1000</p>
  </ion-item>

  <ion-item (click) = "details()">
    <ion-avatar item-right>
      <img src="assets/img/Profile.png">
    </ion-avatar>
    <h2>Dinesh Chandimal</h2>
    <p>1000</p>
  </ion-item>

  <ion-item (click) = "details()">
    <ion-avatar item-right>
      <img src="assets/img/Profile.png">
    </ion-avatar>
    <h2>Alestair Cook</h2>
    <p>1000</p>
  </ion-item>

  <ion-item (click) = "details()">
    <ion-avatar item-right>
      <img src="assets/img/Profile.png">
    </ion-avatar>
    <h2>David Miller</h2>
    <p>1000</p>
  </ion-item>

  <ion-item (click) = "details()">
    <ion-avatar item-right>
      <img src="assets/img/Profile.png">
    </ion-avatar>
    <h2>Virat Kohli</h2>
    <p>1000</p>
  </ion-item>

  <ion-item (click) = "details()">
    <ion-avatar item-right>
      <img src="assets/img/Profile.png">
    </ion-avatar>
    <h2>Sachin Tendulkar</h2>
    <p>1000</p>
  </ion-item>

  <ion-item (click) = "details()">
    <ion-avatar item-right>
      <img src="assets/img/Profile.png">
    </ion-avatar>
    <h2>AB de Villiers</h2>
    <p>1000</p>
  </ion-item>

</ion-content>
