page-next {
          #leftT
     {
        text-align: left;  
        
     }


      #headerT
     {
        text-align: center;
        margin: -40px;
      
     }

     #rightT
     {
        text-align: right;
        float: right;
     }


}
