<!--
  Generated template for the Finance page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Finance Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button block (click) = "cashcollect()">Cash Collection</button>
  <button ion-button block (click) = "viewLoan()">Loan</button>
</ion-content>
