<!--
  Generated template for the Loansummary page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Loan Summary</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card>
  <img src="assets/img/sampath.jpg"/>
  <ion-card-content>
    <ion-item>
      
     <h1> June 2017 </h1>
      
    </ion-item>
    
  </ion-card-content>
</ion-card>
</ion-content>
