<!--
  Generated template for the Igloutdetails page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  color="primary">
    <ion-title>Overdue Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
  <img src="assets/img/a.jpg"/>
  <ion-card-content>
    <ion-item>
      <ion-avatar item-right>
        <img src="assets/img/a.jpg">
      </ion-avatar>
      <h1> Abrahams</h1>
      
    </ion-item>
    
  </ion-card-content>
</ion-card>

<ion-list>

  <ion-item>
    <ion-label color = "black">Customer ID</ion-label>
    <ion-input item-right type="text" value="MFIGL1258"></ion-input>
  </ion-item>

   <ion-item>
    <ion-label>Loan ID</ion-label>
    <ion-input type="text" value="IGL5268"></ion-input>
  </ion-item>

   <ion-item>
    <ion-label>Loan Term</ion-label>
    <ion-input type="text" value="6 months"></ion-input>
  </ion-item>

   <ion-item>
    <ion-label>Total Loan Amount</ion-label>
    <ion-input type="text" value="LKR 50,000"></ion-input>
  </ion-item>

   <ion-item>
    <ion-label>Amount Due</ion-label>
    <ion-input type="text" value="LKR 26,000"></ion-input>
  </ion-item>

   <ion-item>
    <ion-label>Months Failed to pay</ion-label>
    <ion-input type="text" value="3 Months"></ion-input>
  </ion-item>

   <ion-item>
    <ion-label>Total Interest</ion-label>
    <ion-input type="text" value="LKR 6300"></ion-input>
  </ion-item>

   <ion-item>
    <ion-label fixed>Total Amount</ion-label>
    <ion-input type="text" value="LKR 32,300"></ion-input>
  </ion-item>

<button ion-button color="secondary" (click)="showAlert()">Paid <ion-icon name="checkmark-circle"></ion-icon></button>
</ion-list>


</ion-content>
