<!--
  Generated template for the Iglcus page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  color="primary">
    <ion-title>IGL Customers</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
<ion-list>
  <ion-item>
    <ion-avatar item-left>
      <img src="assets/img/k.jpg">
    </ion-avatar>
    <h2>Watsan</h2>
    <p> IGL30098</p>
  </ion-item>
   <ion-item>
    <ion-avatar item-left>
      <img src="assets/img/2.png">
    </ion-avatar>
    <h2>Linda</h2>
    <p> IGL30119</p>
 
 
  </ion-item>
   <ion-item>
    <ion-avatar item-left>
      <img src="assets/img/3.jpg">
    </ion-avatar>
    <h2>Franklin</h2>
    <p> IGL30120</p>
 
  </ion-item>
   <ion-item>
    <ion-avatar item-left>
      <img src="assets/img/9.jpg">
    </ion-avatar>
    <h2>Bellaa</h2>
      <p> IGL30122</p>
 
  </ion-item>
   <ion-item>
    <ion-avatar item-left>
      <img src="assets/img/7.jpg">
    </ion-avatar>
    <h2>Teena </h2>
      <p> IGL30134</p>
 
  </ion-item>
   <ion-item>
    <ion-avatar item-left>
      <img src="assets/img/a.jpg">
    </ion-avatar>
    <h2>Abraham</h2>
      <p> IGL30140</p>
 
  </ion-item>
   <ion-item>
    <ion-avatar item-left>
      <img src="assets/img/y.jpg">
    </ion-avatar>
    <h2>Jessica</h2>
      <p> IGL30220</p>
 
  </ion-item>
  <ion-item>
    <ion-avatar item-left>
      <img src="assets/img/ha.jpg">
    </ion-avatar>
    <h2>Yorklin</h2>
      <p> IGL30256</p>
 
  </ion-item>
  <ion-item>
    <ion-avatar item-left>
      <img src="assets/img/l.jpg">
    </ion-avatar>
    <h2>Randy</h2>
      <p> IGL30290</p>
 
  </ion-item>
</ion-list>

</ion-content>
